<div class="jumbotron">
    <div class="columns">
      <div class="column">
          <div class="title">Users</div>
          <div class="sub-title">Users available in system</div>
      </div>
      <div class="column">
                  
        </div>
        <div class="column">
            <input class="input is-primary is-rounded" type="text" [(ngModel)]="searchTxt" placeholder="Search currencies">
        </div>
    </div>
    <table class="table is-bordered is-striped is-narrow is-hoverable is-fullwidth">
      <thead>
        <tr>
          <th>
            First Name
          </th>
          <th>Last Name</th>
          <th>
            Username
          </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let user of users | async">
          <td><a  href="#" [routerLink]="user.id">{{user.firstName}}</a></td>
          <td>{{user.lastName}}</td>
          <td>{{user.usename}}</td>
        </tr>
      </tbody>
    </table>
  </div>